node_modules/

.DS_Store
.gitattributes
.idea
.quarantine/
.tmb/
.well-known/
.htaccess

# WP Engine
/_wpeprivate/

# wp-content
 /wp-content/*
# !/wp-content/plugins/

# !/wp-content/themes/
# /wp-content/themes/*
# !/wp-content/themes/theme-name/

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.exe
*.webm